* {
    background-color: black;
    color: white;
    font-family: sans-serif;
    box-sizing: border-box;
}

.logo {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

ul.navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 5%;
}

ul.navbar li {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

.callToAction {
    padding: 10px 15px;
    border: 2px solid yellow;
    border-radius: 5%;
}

.callToAction:hover {
    background-color: yellow;
    color: black;
}

a:hover {
    box-shadow: 0 3px yellow;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
    height: 200px;
    margin: 2% 0;
}

.feature-cards {
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
align-content: center;
gap: 30px;
height: 100px;
margin: 2% 5%
}