* {
    font-family: monospace;
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* header and navbar start */

.top-section {
    height: 100%;
    padding: 2% 0 0 0;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.logo {
    display: block;
    margin: 0 auto;
}

ul.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 2% auto;
}

ul.navbar li {
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing:2px;
    padding: 25px;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}


.callToAction {
    border: 2px solid #01a72b;
    color: #01a72b;
    padding: 10px;
}

.callToAction:hover {
    background-color: #01a72b;
    color: white;
}

a:hover {
    color: #01a72b;
}

/* header and navbar end */

.hero {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 2% auto;
}

.hero div {
    display: flex;
    flex-direction: inherit;
    align-items: center;
}

.hero div h1 {
    font-size: 4em;
}

.hero div p {
    font-size: 1.5em;
    margin: 0 auto;
}

.heroimg {
    margin: 5% auto;
    width: 100%;
}

.feature-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    gap: 30px;
    margin: 2% 5%;
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
}